/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define NUM     1
#define SYMBOL  2
#define SYSTEM  3

&mt {
  quick-tap-ms = <200>;
};

// JIS配列からUS配列
// 2(@) : shiftが他のキー（他 6 等）
#define J2U_NN(NAME, NOSFTKEY, SFTKEY) \
  j2u_##NAME: jis_to_us_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    \#binding-cells = <0>; \
    bindings = <&kp NOSFTKEY>, <&kp SFTKEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

// 7(&) : shiftが他のキーのshift（他 8 等）
#define J2U_NS(NAME, NOSFTKEY, SFTKEY) \
  j2u_##NAME: jis_to_us_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    \#binding-cells = <0>; \
    bindings = <&kp NOSFTKEY>, <&kp SFTKEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
    keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

// =(+) : 他のキーのshift、shiftも他のキーのshift（他 ` 等）
#define J2U_SS(NAME, NOSFTKEY, SFTKEY) \
  j2u_##NAME: jis_to_us_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    \#binding-cells = <0>; \
    bindings = <&kp LS(NOSFTKEY)>, <&kp SFTKEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
    keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

// dvorak - qwerty
#define DQ(DVORAK_KEY, QWERTY_KEY) \
  dq_##DVORAK_KEY: dvorak_qwerty_##DVORAK_KEY { \
    compatible = "zmk,behavior-mod-morph"; \
    \#binding-cells = <0>; \
    bindings = <&kp DVORAK_KEY>, <&kp QWERTY_KEY>; \
    mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>; \
    keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>; \
  };

  /conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <NUM SYMBOL>;
      then-layer = <SYSTEM>;
    };
  };

  behaviors {
    J2U_NN(2, N2, LBKT)
    J2U_NN(6, N6, EQUAL)
    J2U_NS(7, N7, N6)
    J2U_NS(8, N8, SQT)
    J2U_NS(9, N9, N8)
    J2U_NS(0, N0, N9)
    J2U_NS(MINUS, MINUS, INT1)
    J2U_SS(EQUAL, MINUS, SEMI)
    J2U_NS(LBKT, RBKT, RBKT)
    J2U_NS(RBKT, NUHS, NUHS)
    J2U_NS(BSLH, INT1, INT3)
    J2U_NN(SEMI, SEMI, SQT)
    J2U_SS(SQT, N7, N2)
    J2U_SS(GRAVE, LBKT, EQUAL)

    dq_SQT: dvorak_qwerty_SQT {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&j2u_SQT>, <&kp Q>;
      mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
      keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
    };
    DQ(COMMA, W)
    DQ(DOT, E)
    DQ(P, R)
    DQ(Y, T)
    DQ(F, Y)
    DQ(G, U)
    DQ(C, I)
    DQ(R, O)
    DQ(L, P)
    // DQ(A, A)
    DQ(O, S)
    DQ(E, D)
    DQ(U, F)
    DQ(I, G)
    DQ(D, H)
    DQ(H, J)
    DQ(T, K)
    DQ(N, L)
    dq_S: dvorak_qwerty_S {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp S>, <&j2u_SEMI>;
      mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
      keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
    };
    dq_SEMI: dvorak_qwerty_SEMI {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&j2u_SEMI>, <&kp Z>;
      mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
      keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT)>;
    };
    DQ(Q, X)
    DQ(J, C)
    DQ(K, V)
    DQ(X, B)
    DQ(B, N)
    // DQ(M, M)
    DQ(W, COMMA)
    DQ(V, DOT)
    DQ(Z, SLASH)

    i_del: ctrl_i_2_del {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&dq_I>, <&kp DEL>;
      mods = <(MOD_LCTL|MOD_RCTL)>;
    };

    d_bspc: ctrl_d_2_bspc {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&dq_D>, <&kp BSPC>;
      mods = <(MOD_LCTL|MOD_RCTL)>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
   &dq_SQT          &dq_COMMA        &dq_DOT          &dq_P            &dq_Y                    &dq_F            &dq_G            &dq_C            &dq_R           &dq_L
   &kp A            &dq_O            &dq_E            &dq_U            &i_del                   &d_bspc          &dq_H            &dq_T            &dq_N           &dq_S
   &dq_SEMI         &dq_Q            &dq_J            &dq_K            &dq_X                    &dq_B            &kp M            &dq_W            &dq_V           &dq_Z
                                     &mt LALT TAB     &lt NUM INT5     &mt LCTRL SPACE          &mt LSHFT ENTER  &lt SYMBOL INT4     &mt LGUI ESC
      >;
    };

    num_layer {
      bindings = <
   &kp N1           &j2u_2           &kp N3           &kp N4           &kp N5                   &j2u_6           &j2u_7           &j2u_8           &j2u_9           &j2u_0
   &kp LCTRL        &kp TAB          &none            &kp LC(LA(DEL))  &none                    &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp RA(RSFT)
   &kp LSFT         &kp F2           &kp F3           &kp F4           &kp F5                   &kp F11          &kp F12          &none            &none            &kp RA(RCTL)
                                     &mo SYSTEM       &trans           &trans                   &kp LS(ENTER)    &trans           &trans
      >;
    };

    symbol_layer {
      bindings = <
   &kp EXCL         &kp LBKT         &kp HASH         &kp DLLR         &kp PRCNT                &kp EQUAL        &kp LS(N6)       &kp LS(SQT)      &kp LS(N8)       &kp LS(N9)
   &j2u_GRAVE       &j2u_SQT         &j2u_SEMI        &j2u_MINUS       &j2u_EQUAL               &kp SLASH        &j2u_BSLH        &kp LT           &j2u_LBKT        &j2u_RBKT
   &kp LS(EQUAL)    &kp LS(N2)       &kp SQT          &kp LS(INT1)     &kp LS(SEMI)             &kp LS(SLASH)    &kp LS(INT3)     &kp GT           &kp LS(RBKT)     &kp LS(NUHS)
                                     &kp LALT         &trans           &mt LGUI LA(BSPC)        &trans           &trans           &mo SYSTEM
      >;
    };

    system_layer {
      bindings = <
   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4             &none            &none            &none            &none            &ext_power EP_ON
   &bt BT_DISC 0    &bt BT_DISC 1    &bt BT_DISC 2    &bt BT_DISC 3    &bt BT_DISC 4            &none            &none            &none            &none            &ext_power EP_OFF
   &none            &none            &none            &none            &bt BT_CLR               &none            &none            &none            &none            &none
                                     &trans           &none            &none                    &none            &none            &none
      >;
    };

  };
};
